@media (max-width: 340px) {
  .navName {
    font-size: 18px;
  }
}

.navName {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav {
  margin: 1rem 0 3rem;
}
