@media (max-width: 483px) {
  .navToggler {
    margin: auto;
    width: 100%;
  }
  .navName {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .navLinks {
    text-align: center;
    padding-top: 10px;
  }
}

.navName {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav {
  margin: 1rem 0;
}
